# linear regression boston_house_price

In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder 
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import r2_score, confusion_matrix, accuracy_score 
from sklearn.preprocessing import StandardScaler 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'C:\Users\shash\OneDrive\Desktop\mit\3rd sem\ml\OneDrive_1_15-8-2023\DATASETS-16AUG2023\boston_house_prices.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
plt.boxplot(column='ZN',data=df)

In [ ]:
len_before = len(df)
df = df.dropna()
print(len_before - len(df), "columns dropped since they had null values!")

In [ ]:
X = df[['RM']].values
Y = df[['MEDV']].values

In [ ]:
splits = splits = [2,3,4,5,6,7,8,9] 
random_states = [0, 42]

In [ ]:
result = []
for split_size in splits:
    split_size = split_size / 10
    for random_state in random_states:
        X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=split_size, random_state=random_state, shuffle=True)
        lr = LinearRegression()
        model = lr.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        r2 = r2_score(y_test, y_pred)
        result.append(["boston_house_prices", split_size, random_state, r2])

result = pd.DataFrame(result, columns=["Data_SET","train-test-split","Random_State","r2_score"])

In [ ]:
result

In [ ]:
result.to_excel("SLR_boston.xlsx")

# multiple linear regression boston house price dataset

In [ ]:
df = pd.read_csv(r'C:\Users\shash\OneDrive\Desktop\mit\3rd sem\ml\OneDrive_1_15-8-2023\DATASETS-16AUG2023\boston_house_prices.csv')
df.head()

In [ ]:
len_before = len(df)
df = df.dropna()
print(len_before - len(df), "columns dropped since they had null values!")

In [ ]:
X = df.drop(['MEDV'], axis=1)
Y = df[['MEDV']].values

In [ ]:
splits = splits = [2,3,4,5,6,7,8,9] 
random_states = [0, 42]

In [ ]:
result = []
for split_size in splits:
    split_size = split_size / 10
    for random_state in random_states:
        X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=split_size, random_state=random_state, shuffle=True)
        lr = LinearRegression()
        model = lr.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        r2 = r2_score(y_test, y_pred)
        result.append(["Multilinear Regression","boston_house_prices", split_size, random_state, r2])

result = pd.DataFrame(result, columns=["Model","Data_SET","train-test-split","Random_State","r2_score"])

In [ ]:
result

In [ ]:
result.to_excel("MLR_boston.xlsx")

# multile linear regression using ccpp dataset

In [ ]:
df = pd.read_csv(r'C:\Users\shash\OneDrive\Desktop\mit\3rd sem\ml\OneDrive_1_15-8-2023\DATASETS-16AUG2023\ccpp.csv')
df.head()

In [ ]:
len_before = len(df)
df = df.dropna()
print(len_before - len(df), "columns dropped since they had null values!")

In [ ]:
X = df.drop(['PE'], axis=1)
Y = df[['PE']].values

In [ ]:
splits = splits = [2,3,4,5,6,7,8,9] 
random_states = [0, 42]

In [ ]:
result = []
for split_size in splits:
    split_size = split_size / 10
    for random_state in random_states:
        X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=split_size, random_state=random_state, shuffle=True)
        lr = LinearRegression()
        model = lr.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        r2 = r2_score(y_test, y_pred)
        result.append(["Multilinear Regression","CCPP", split_size, random_state, r2])

result = pd.DataFrame(result, columns=["Model","Data_SET","train-test-split","Random_State","r2_score"])

In [ ]:
result

In [ ]:
result.to_excel("MLR_CCPP.xlsx")